.formLoading {
  position: relative;

  :global {
    .ant-spin-nested-loading {
      > div > .ant-spin {
        background: var(--gvray-color-bg-mask);
        backdrop-filter: blur(1px);
        max-height: unset;
        transition: opacity 0.2s ease;

        .ant-spin-dot {
          font-size: 24px;
        }

        .ant-spin-text {
          font-size: 13px;
          color: var(--gvray-color-text-secondary);
          margin-top: 10px;
        }
      }
    }

    .ant-spin-container::after {
      background: transparent;
    }
  }
}
